<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav th:replace="layout::nav"></nav>
    <!-- 部门列表 -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            部门列表
            <a id="btnAdd" class="btn btn-sm btn-success" style="margin-left: 85%">新建部门</a>
<!--            <a id="btnAdd" th:href="@{'/department/addPage/'}" class="btn btn-sm btn-success" style="margin-left: 85%">新建部门</a>-->
        </div>
        <!-- Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>部门名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="department:${departments}">
                    <td th:text="${department.id}"></td>

                    <td th:text="${department.departmentName}"></td>
                    <td>
                        <a th:id="${department.id}" class="btn btn-primary btn-xs btn-edit">编辑</a>
<!--                        <a th:href="@{'/department/updatePage/'+${department.id}}" class="btn btn-primary btn-xs btn-edit">编辑</a>-->
                        <a th:id="${department.id}" class="btn btn-danger btn-xs btn-delete">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="depart_add" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabelAdd">新建部门</h4>
            </div>
            <div class="modal-body">
                <from id="formAdd">
                    <div class="clearfix">
                        <div class="col-xs-12">
                            <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                <label>部门名称</label>
                                <input id="add_department_name" type="text" name="departmentName" maxlength="32" class="form-control" placeholder="部门名称" required="">
                                <span class="error-msg" style="color: red;position: absolute;"></span>
                            </div>
                        </div>
                    </div>
                </from>
            </div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="addSave" type="button" class="btn btn-primary">保 存</button>
            </div>
        </div>
    </div>
</div>

<div id="depart_edit" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabelEdit">编辑部门信息</h4>
            </div>
            <div class="modal-body">
                <from id="formEdit">
                    <div class="clearfix">
                        <div class="col-xs-12">
                            <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                <label>部门ID</label>
                                <input id="edit_department_id" type="text" name="id" maxlength="32"
                                       class="form-control" placeholder="部门ID" required="" readonly>
                                <span class="error-msg" style="color: red;position: absolute;"></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                <label>部门名称</label>
                                <input id="edit_department_name" type="text" name="departmentName" maxlength="32"
                                       class="form-control" placeholder="部门名称" required="">
                                <span class="error-msg" style="color: red;position: absolute;"></span>
                            </div>
                        </div>
                    </div>
                </from>
            </div>
            <div class="modal-footer">
                <button id="editCancel" type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="editSave" type="button" class="btn btn-primary">保 存</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除（对话框） -->
<div id="depart_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <h4>是否确定删除？</h4>
            <p style="margin: 10px 0;"> 删除后，所有关联的相关数据都会被删除。</p>
            <p style="text-align: right;">
                <button id="btnConfirmDelete" type="button" class="btn btn-danger">确 定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
            </p>
        </div>

    </div>
</div>

<script type="text/javascript">
    var DELETE_ID;

    $(function () {
        bindBtnAddEvent();
        bindBtnEditEvent();
        bindBtnDeleteEvent();
        bindBtnConfirmDeleteEvent();
    })

    function bindBtnAddEvent() {
        $("#btnAdd").click(function () {
            //$("#formAdd")[0].reset();
            $("#formAdd").find('input[type=text],select,input[type=hidden]').each(function() {
                $(this).val('');
            });
            // 点击新建按钮，显示对话框。
            $('#depart_add').modal('show');

        });

        $("#addSave").click(function () {
            // 点击新建按钮，显示对话框。
            var departmentName = $("input[id='add_department_name']").val();

            $.ajax({
                url: "/attendance/department/add/",
                type: "post",
                dataType: 'json',
                data:{"departmentName": departmentName},
                success: function (data) {
                    // console.log(data);
                    // 关闭对话框
                    $('#depart_add').modal('hide');
                    // 刷新页面
                    location.reload()
                }
            })

        });
    }

    function bindBtnEditEvent() {
        $(".btn-edit").click(function () {
            $('#depart_edit').modal('show');
            var id = this.id;

            $.ajax({
                url: "/attendance/department/updatePage/" + id,
                type: "get",
                data:{},
                success: function (data) {
                    $("#edit_department_id").val(data.id);
                    $("#edit_department_name").val(data.departmentName);
                }
            })
        });

        $("#editSave").click(function () {
            // 点击新建按钮，显示对话框。
            var id = $("input[id='edit_department_id']").val();
            var departmentName = $("input[id='edit_department_name']").val();
            // console.log(id,departmentName);

            $.ajax({
                url: "/attendance/department/update/",
                type: "post",
                dataType: 'json',
                data:{"id": id,"departmentName": departmentName},
                success: function (data) {
                    // console.log(data);
                    // 关闭对话框
                    $('#depart_edit').modal('hide');
                    // 刷新页面
                    location.reload()
                }
            })

        });
    }

    function bindBtnDeleteEvent() {
        $(".btn-delete").click(function () {
            // alert("点击了删除");
            // 显示删除对话框
            $("#depart_delete").modal('show');
            DELETE_ID = this.id;
        });
    }

    function bindBtnConfirmDeleteEvent() {
        $("#btnConfirmDelete").click(function () {
            $.ajax({
                url: "/attendance/department/delete/" + DELETE_ID,  //    => /order/delete/?uid=123
                type: "GET",
                data: {
                    id: DELETE_ID
                },
                dataType: "JSON",
                success: function (data) {
                    // 关闭对话框
                    $('#depart_delete').modal('hide');
                    // 刷新页面
                    location.reload()
                }
            })
        });
    }
</script>
</body>
</html>