<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<!--    <base th:href="@{/}">-->
    <meta charset="UTF-8">
    <title>EmployeeAttendanceSystem</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>

    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
</head>
<body>
<!--  navbar-inverse导航栏反色 -->
<nav class="navbar navbar-inverse" th:fragment="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index/"> 员工考勤系统 </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="face"><a href="/face_web/frame/">人脸识别</a></li>
                <li id="attendance"><a href="/attendance/list/">考勤管理</a></li>
                <li id="leave"><a href="/leave/list/">请假管理</a></li>
                <li id="appeal"><a href="/appeal/list/">申诉管理</a></li>
                <li id="department"><a th:href="@{'/department/list'}">部门管理</a></li>
                <li id="employee_all" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">员工管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="employee"><a href="/employee/list/">员工信息</a></li>
                        <li id="faceInfo"><a href="/face/list/">面部信息</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="other_module">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">其他功能 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="role"><a th:href="@{'/role/list'}">角色管理</a></li>
                        <li id="type"><a href="/type/list/">类型管理</a></li>
                        <li id="mechanism"><a href="/mechanism/list/">机制管理</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.session.info.real_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="admin_module"><a href="/pwd/list/">密码重置</a></li>
                        <li><a href="/pwd/edit/">修改个人密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>