<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jqurey.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:include="layout"></div>
    <!-- 部门列表 -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            角色列表
            <input id="btnAdd" type="button" value="新建角色" class="btn btn-sm btn-success" style="margin-left: 85%">
        </div>
        <!-- Table -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>角色名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role:${roles}">
                <td th:text="${role.id}"></td>
                <td th:text="${role.role_name}"></td>
                <td>
                    <input uid="{{ obj.id }}" type="button" class="btn btn-primary btn-xs btn-edit" value="编辑">
                    <input uid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="删除">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>